ิbody {
  font-family: 'Nunito', Arial, sans-serif;
}

input,
button {
  font-family: 'Nunito', Arial, sans-serif;
}

table th,
table td {
  border: 1px solid white;
  font-family: 'Nunito', Arial, sans-serif;
}
